In [303]:
import numpy as np
import pandas as pd
covid = pd.read_csv("/Users/mansipandya/Desktop/us-counties.csv")
covid

           date      county       state     fips  cases  deaths
0       1/21/20   Snohomish  Washington  53061.0      1       0
1       1/22/20   Snohomish  Washington  53061.0      1       0
2       1/23/20   Snohomish  Washington  53061.0      1       0
3       1/24/20        Cook    Illinois  17031.0      1       0
4       1/24/20   Snohomish  Washington  53061.0      1       0
...         ...         ...         ...      ...    ...     ...
337563  7/15/20  Sweetwater     Wyoming  56037.0    157       1
337564  7/15/20       Teton     Wyoming  56039.0    170       1
337565  7/15/20       Uinta     Wyoming  56041.0    208       0
337566  7/15/20    Washakie     Wyoming  56043.0     42       5
337567  7/15/20      Weston     Wyoming  56045.0      3       0

[337568 rows x 6 columns]

In [304]:
covid.head()

      date     county       state     fips  cases  deaths
0  1/21/20  Snohomish  Washington  53061.0      1       0
1  1/22/20  Snohomish  Washington  53061.0      1       0
2  1/23/20  Snohomish  Washington  53061.0      1       0
3  1/24/20       Cook    Illinois  17031.0      1       0
4  1/24/20  Snohomish  Washington  53061.0      1       0

In [305]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337568 entries, 0 to 337567
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    337568 non-null  object
 1   county  337568 non-null  object
 2   state   337568 non-null  object
 3   fips    334129 non-null  float64
 4   cases   337568 non-null  int64
 5   deaths  337568 non-null  int64
dtypes: float64(1), int64(2), object(3)
memory usage: 15.5+ MB

In [306]:
pop = pd.read_excel('/Users/mansipandya/Desktop/co-est2019-alldata.xls')
pop

,State,County,Geographic Area,Census,Estimates Base,Population Estimate 2010,Population Estimate 2011,Population Estimate 2012,Population Estimate 2013,Population Estimate 2014,Population Estimate 2015,Population Estimate 2016,Population Estimate 2017,Population Estimate 2018,Population Estimate 2019
0,Alabama,Alabama,"Alabama , Alabama",4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alabama,Autauga County,"Autauga County , Alabama , Alabama",54571,54597,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,Alabama,Baldwin County,"Baldwin County , Alabama",182265,182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,Alabama,Barbour County,"Barbour County , Alabama",27457,27455,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,Alabama,Bibb County,"Bibb County , Alabama",22915,22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,Wyoming,Sweetwater County,"Sweetwater County , Wyoming",43806,43806,43574,43986,45002,45157,44948,44719,44222,43464,42858,42343
3189,Wyoming,Teton County,"Teton County , Wyoming",21294,21298,21296,21414,21624,22315,22773,23047,23234,23384,23269,23464
3190,Wyoming,Uinta County,"Uinta County , Wyoming",21118,21121,21089,20896,20996,20951,20822,20763,20682,20431,20292,20226
3191,Wyoming,Washakie County,"Washakie County , Wyoming",8533,8528,8530,8449,8409,8413,8273,8278,8165,8010,7877,7805
3192,Wyoming,Weston County,"Weston County , Wyoming",7208,7208,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927

In [307]:
pop.head()

,State,County,Geographic Area,Census,Estimates Base,Population Estimate 2010,Population Estimate 2011,Population Estimate 2012,Population Estimate 2013,Population Estimate 2014,Population Estimate 2015,Population Estimate 2016,Population Estimate 2017,Population Estimate 2018,Population Estimate 2019
0,Alabama,Alabama,"Alabama , Alabama",4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alabama,Autauga County,"Autauga County , Alabama , Alabama",54571,54597,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,Alabama,Baldwin County,"Baldwin County , Alabama",182265,182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,Alabama,Barbour County,"Barbour County , Alabama",27457,27455,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,Alabama,Bibb County,"Bibb County , Alabama",22915,22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394

In [308]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3193 entries, 0 to 3192
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   State                     3193 non-null   object
 1   County                    3193 non-null   object
 2   Geographic Area           3193 non-null   object
 3   Census                    3193 non-null   int64
 4   Estimates Base            3193 non-null   int64
 5   Population Estimate 2010  3193 non-null   int64
 6   Population Estimate 2011  3193 non-null   int64
 7   Population Estimate 2012  3193 non-null   int64
 8   Population Estimate 2013  3193 non-null   int64
 9   Population Estimate 2014  3193 non-null   int64
 10  Population Estimate 2015  3193 non-null   int64
 11  Population Estimate 2016  3193 non-null   int64
 12  Population Estimate 2017  3193 non-null   int64
 13  Population Estimate 2018  3193 non-null   int64
 14  Population Estimate 2019  3193 non-null   int64
dtypes: int64(12), object(3)
memory usage: 374.3+ KB

In [309]:
pop = pop.drop(["Estimates Base"], axis=1)
pop

,State,County,Geographic Area,Census,Population Estimate 2010,Population Estimate 2011,Population Estimate 2012,Population Estimate 2013,Population Estimate 2014,Population Estimate 2015,Population Estimate 2016,Population Estimate 2017,Population Estimate 2018,Population Estimate 2019
0,Alabama,Alabama,"Alabama , Alabama",4779736,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,Alabama,Autauga County,"Autauga County , Alabama , Alabama",54571,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869
2,Alabama,Baldwin County,"Baldwin County , Alabama",182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234
3,Alabama,Barbour County,"Barbour County , Alabama",27457,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686
4,Alabama,Bibb County,"Bibb County , Alabama",22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,Wyoming,Sweetwater County,"Sweetwater County , Wyoming",43806,43574,43986,45002,45157,44948,44719,44222,43464,42858,42343
3189,Wyoming,Teton County,"Teton County , Wyoming",21294,21296,21414,21624,22315,22773,23047,23234,23384,23269,23464
3190,Wyoming,Uinta County,"Uinta County , Wyoming",21118,21089,20896,20996,20951,20822,20763,20682,20431,20292,20226
3191,Wyoming,Washakie County,"Washakie County , Wyoming",8533,8530,8449,8409,8413,8273,8278,8165,8010,7877,7805
3192,Wyoming,Weston County,"Weston County , Wyoming",7208,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927

In [310]:
pop = pop.drop(["Population Estimate 2010", "Population Estimate 2011", "Population Estimate 2012", "Population Estimate 2013", "Population Estimate 2014", "Population Estimate 2015", "Population Estimate 2016", "Population Estimate 2017", "Population Estimate 2018"], axis=1)
pop

,State,County,Geographic Area,Census,Population Estimate 2019
0,Alabama,Alabama,"Alabama , Alabama",4779736,4903185
1,Alabama,Autauga County,"Autauga County , Alabama , Alabama",54571,55869
2,Alabama,Baldwin County,"Baldwin County , Alabama",182265,223234
3,Alabama,Barbour County,"Barbour County , Alabama",27457,24686
4,Alabama,Bibb County,"Bibb County , Alabama",22915,22394
...,...,...,...,...,...
3188,Wyoming,Sweetwater County,"Sweetwater County , Wyoming",43806,42343
3189,Wyoming,Teton County,"Teton County , Wyoming",21294,23464
3190,Wyoming,Uinta County,"Uinta County , Wyoming",21118,20226
3191,Wyoming,Washakie County,"Washakie County , Wyoming",8533,7805
3192,Wyoming,Weston County,"Weston County , Wyoming",7208,6927

In [311]:
pop = pop.drop(["Census"], axis=1)
pop

,State,County,Geographic Area,Population Estimate 2019
0,Alabama,Alabama,"Alabama , Alabama",4903185
1,Alabama,Autauga County,"Autauga County , Alabama , Alabama",55869
2,Alabama,Baldwin County,"Baldwin County , Alabama",223234
3,Alabama,Barbour County,"Barbour County , Alabama",24686
4,Alabama,Bibb County,"Bibb County , Alabama",22394
...,...,...,...,...
3188,Wyoming,Sweetwater County,"Sweetwater County , Wyoming",42343
3189,Wyoming,Teton County,"Teton County , Wyoming",23464
3190,Wyoming,Uinta County,"Uinta County , Wyoming",20226
3191,Wyoming,Washakie County,"Washakie County , Wyoming",7805
3192,Wyoming,Weston County,"Weston County , Wyoming",6927

In [312]:
pop = pop[['Geographic Area','Population Estimate 2019']][0:3194]
pop.tail(10)

                  Geographic Area  Population Estimate 2019
3183    Niobrara County , Wyoming                      2356
3184        Park County , Wyoming                     29194
3185      Platte County , Wyoming                      8393
3186    Sheridan County , Wyoming                     30485
3187    Sublette County , Wyoming                      9831
3188  Sweetwater County , Wyoming                     42343
3189       Teton County , Wyoming                     23464
3190       Uinta County , Wyoming                     20226
3191    Washakie County , Wyoming                      7805
3192      Weston County , Wyoming                      6927

In [317]:
pop['County'] = pop['Geographic Area'].apply(lambda x: x.split(', ')[0][0:])
pop['County'] = pop['County'].apply(lambda x: x.split(' County')[0])
pop['County'] = pop['County'].apply(lambda x: x.split(' Parish')[0]) # for LA
pop['County'] = pop['County'].apply(lambda x: x.split(' City')[0]) # for VA
pop['State'] = pop['Geographic Area'].apply(lambda x: x.split(', ')[1])
#pop['State'] = pop['State'].apply(lambda x: x.split('State')[0])
pop.head(70)

,Geographic Area,Population Estimate 2019,County,State
0,"Alabama , Alabama",4903185,Alabama,Alabama
1,"Autauga County , Alabama , Alabama",55869,Autauga,Alabama
2,"Baldwin County , Alabama",223234,Baldwin,Alabama
3,"Barbour County , Alabama",24686,Barbour,Alabama
4,"Bibb County , Alabama",22394,Bibb,Alabama
...,...,...,...,...
65,"Washington County , Alabama",16326,Washington,Alabama
66,"Wilcox County , Alabama",10373,Wilcox,Alabama
67,"Winston County , Alabama",23629,Winston,Alabama
68,"Alaska , Alaska",731545,Alaska,Alaska
69,"Aleutians East Borough , Alaska",3337,Aleutians East Borough,Alaska

In [318]:
pop[pop['State']=='Alaska']

,Geographic Area,Population Estimate 2019,County,State
68,"Alaska , Alaska",731545,Alaska,Alaska
69,"Aleutians East Borough , Alaska",3337,Aleutians East Borough,Alaska
70,"Aleutians West Census Area , Alaska",5634,Aleutians West Census Area,Alaska
71,"Anchorage Municipality , Alaska",288000,Anchorage Municipality,Alaska
72,"Bethel Census Area , Alaska",18386,Bethel Census Area,Alaska
73,"Bristol Bay Borough , Alaska",836,Bristol Bay Borough,Alaska
74,"Denali Borough , Alaska",2097,Denali Borough,Alaska
75,"Dillingham Census Area , Alaska",4916,Dillingham Census Area,Alaska
76,"Fairbanks North Star Borough , Alaska",96849,Fairbanks North Star Borough,Alaska
77,"Haines Borough , Alaska",2530,Haines Borough,Alaska
78,"Hoonah-Angoon Census Area , Alaska",2148,Hoonah-Angoon Census Area,Alaska
79,"Juneau City and Borough , Alaska",31974,Juneau,Alaska
80,"Kenai Peninsula Borough , Alaska",58708,Kenai Peninsula Borough,Alaska
81,"Ketchikan Gateway Borough , Alaska",13901,Ketchikan Gateway Borough,Alaska
82,"Kodiak Island Borough , Alaska",12998,Kodiak Island Borough,Alaska
83,"Kusilvak Census Area , Alaska",8314,Kusilvak Census Area,Alaska
84,"Lake and Peninsula Borough , Alaska",1592,Lake and Peninsula Borough,Alaska
85,"Matanuska-Susitna Borough , Alaska",108317,Matanuska-Susitna Borough,Alaska
86,"Nome Census Area , Alaska",10004,Nome Census Area,Alaska
87,"North Slope Borough , Alaska",9832,North Slope Borough,Alaska
88,"Northwest Arctic Borough , Alaska",7621,Northwest Arctic Borough,Alaska
89,"Petersburg Borough , Alaska",3266,Petersburg Borough,Alaska
90,"Prince of Wales-Hyder Census Area , Alaska",6203,Prince of Wales-Hyder Census Area,Alaska
91,"Sitka City and Borough , Alaska",8493,Sitka,Alaska
92,"Skagway Municipality , Alaska",1183,Skagway Municipality,Alaska
93,"Southeast Fairbanks Census Area , Alaska",6893,Southeast Fairbanks Census Area,Alaska
94,"Valdez-Cordova Census Area , Alaska",9202,Valdez-Cordova Census Area,Alaska
95,"Wrangell City and Borough , Alaska",2502,Wrangell,Alaska
96,"Yakutat City and Borough , Alaska",579,Yakutat,Alaska
97,"Yukon-Koyukuk Census Area , Alaska",5230,Yukon-Koyukuk Census Area,Alaska

In [319]:
pop[pop['State']=='Louisiana']

,Geographic Area,Population Estimate 2019,County,State
1131,"Louisiana , Louisiana",4648794,Louisiana,Louisiana
1132,"Acadia Parish , Louisiana",62045,Acadia,Louisiana
1133,"Allen Parish , Louisiana",25627,Allen,Louisiana
1134,"Ascension Parish , Louisiana",126604,Ascension,Louisiana
1135,"Assumption Parish , Louisiana",21891,Assumption,Louisiana
...,...,...,...,...
1191,"Webster Parish , Louisiana",38340,Webster,Louisiana
1192,"West Baton Rouge Parish , Louisiana",26465,West Baton Rouge,Louisiana
1193,"West Carroll Parish , Louisiana",10830,West Carroll,Louisiana
1194,"West Feliciana Parish , Louisiana",15568,West Feliciana,Louisiana
1195,"Winn Parish , Louisiana",13904,Winn,Louisiana

In [320]:
#covid[covid['county']=='New York City']['county'] = 'New York'
#covid[covid['county']=='New York City']['county'].apply(lambda x: x.split(' '))
covid.loc[covid['county'] == 'New York City','county'] = 'New York'
covid[covid['state']=='New York']

           date       county     state     fips  cases  deaths
416      3/1/20     New York  New York      NaN      1       0
448      3/2/20     New York  New York      NaN      1       0
482      3/3/20     New York  New York      NaN      2       0
518      3/4/20     New York  New York      NaN      2       0
519      3/4/20  Westchester  New York  36119.0      9       0
...         ...          ...       ...      ...    ...     ...
336236  7/15/20   Washington  New York  36115.0    250      11
336237  7/15/20        Wayne  New York  36117.0    221       1
336238  7/15/20  Westchester  New York  36119.0  35393    1568
336239  7/15/20      Wyoming  New York  36121.0    103       3
336240  7/15/20        Yates  New York  36123.0     50       6

[7006 rows x 6 columns]

In [321]:
df = pd.merge(covid,pop,left_on=['county','state'],right_on=['County','State'],how='inner')
df

,date,county,state,fips,cases,deaths,Geographic Area,Population Estimate 2019,County,State
0,1/21/20,Snohomish,Washington,53061.0,1,0,"Snohomish County , Washington",822083,Snohomish,Washington
1,1/22/20,Snohomish,Washington,53061.0,1,0,"Snohomish County , Washington",822083,Snohomish,Washington
2,1/23/20,Snohomish,Washington,53061.0,1,0,"Snohomish County , Washington",822083,Snohomish,Washington
3,1/24/20,Snohomish,Washington,53061.0,1,0,"Snohomish County , Washington",822083,Snohomish,Washington
4,1/25/20,Snohomish,Washington,53061.0,1,0,"Snohomish County , Washington",822083,Snohomish,Washington
...,...,...,...,...,...,...,...,...,...,...
321652,7/14/20,Kent,Texas,48263.0,1,0,"Kent County , Texas",762,Kent,Texas
321653,7/15/20,Kent,Texas,48263.0,1,0,"Kent County , Texas",762,Kent,Texas
321654,7/14/20,McMullen,Texas,48311.0,1,0,"McMullen County , Texas",743,McMullen,Texas
321655,7/15/20,McMullen,Texas,48311.0,1,0,"McMullen County , Texas",743,McMullen,Texas
321656,7/15/20,Sweet Grass,Montana,30097.0,1,0,"Sweet Grass County , Montana",3737,Sweet Grass,Montana

In [322]:
df.columns

Index(['date', 'county', 'state', 'fips', 'cases', 'deaths', 'Geographic Area',
       'Population Estimate 2019', 'County', 'State'],
      dtype='object')

In [323]:
dfm = df[['date','County','State','cases','deaths','Population Estimate 2019']]

In [324]:
dfm

,date,County,State,cases,deaths,Population Estimate 2019
0,1/21/20,Snohomish,Washington,1,0,822083
1,1/22/20,Snohomish,Washington,1,0,822083
2,1/23/20,Snohomish,Washington,1,0,822083
3,1/24/20,Snohomish,Washington,1,0,822083
4,1/25/20,Snohomish,Washington,1,0,822083
...,...,...,...,...,...,...
321652,7/14/20,Kent,Texas,1,0,762
321653,7/15/20,Kent,Texas,1,0,762
321654,7/14/20,McMullen,Texas,1,0,743
321655,7/15/20,McMullen,Texas,1,0,743
321656,7/15/20,Sweet Grass,Montana,1,0,3737

In [325]:
dfm.to_excel('covid-as-per-us-county-population.xlsx')

In [326]:
dfm.head()

      date     County       State  cases  deaths  Population Estimate 2019
0  1/21/20  Snohomish  Washington      1       0                    822083
1  1/22/20  Snohomish  Washington      1       0                    822083
2  1/23/20  Snohomish  Washington      1       0                    822083
3  1/24/20  Snohomish  Washington      1       0                    822083
4  1/25/20  Snohomish  Washington      1       0                    822083

In [328]:
dfdate = dfm[dfm['date']=='7/15/20'] #till 15th july
np.percentile(dfdate['cases'],80)

675.0

In [329]:
np.percentile(dfdate['deaths'],80)

17.0